<main class="container mx-auto content-page-container">

    <section class="p-4">

        <h2>{{ 'aboutProject.title' | translate }}</h2>

        <p class="text">{{ 'aboutProject.description' | translate }}:</p>
        <ul class="text mb-5">
            <li>
                <span class="bold">{{ 'aboutProject.components' | translate }}:</span>
                <p>{{ 'aboutProject.componentsDesc' | translate }}</p>
            </li>
            <li>
                <span class="bold">{{ 'aboutProject.services' | translate }}:</span>
                <p>{{ 'aboutProject.servicesDesc' | translate }}</p>
            </li>
            <li>
                <span class="bold">{{ 'aboutProject.routing' | translate }}:</span>
                <p>{{ 'aboutProject.routingDesc' | translate }}</p>
            </li>
            <li>
                <span class="bold">{{ 'aboutProject.modules' | translate }}:</span>
                <p>{{ 'aboutProject.modulesDesc' | translate }}</p>
            </li>
            <li>
                <span class="bold">{{ 'aboutProject.lazyLoading' | translate }}:</span>
                <p>{{ 'aboutProject.lazyLoadingDesc' | translate }}</p>
            </li>
            <li>
                <span class="bold">{{ 'aboutProject.forms' | translate }}:</span>
                <p>{{ 'aboutProject.formsDesc' | translate }}</p>
            </li>
            <li>
                <span class="bold">{{ 'aboutProject.api' | translate }}:</span>
                <p>{{ 'aboutProject.apiDesc' | translate }}</p>
            </li>
            <li>
                <span class="bold">{{ 'aboutProject.interceptors' | translate }}:</span>
                <p>{{ 'aboutProject.interceptorsDesc' | translate }}</p>
            </li>
        </ul>

        <p class="text">{{ 'aboutProject.otherFeatures' | translate }}:</p>
        <ul class="text mb-5">
            <li>
                <span class="bold">{{ 'aboutProject.bootstrap' | translate }}:</span>
                <p>{{ 'aboutProject.bootstrapDesc' | translate }}</p>
            </li>
            <li>
                <span class="bold">{{ 'aboutProject.css' | translate }}:</span>
                <p>{{ 'aboutProject.cssDesc' | translate }}</p>
            </li>
            <li>
                <span class="bold">{{ 'aboutProject.internationalization' | translate }}:</span>
                <p>{{ 'aboutProject.internationalizationDesc' | translate }}</p>
            </li>
            <li>
                <span class="bold">{{ 'aboutProject.unitTesting' | translate }}:</span>
                <p>{{ 'aboutProject.unitTestingDesc' | translate }}</p>
            </li>
        </ul>

        <h3 class="p-3 text-center">{{ 'aboutProject.thanks' | translate }}</h3>
    </section>
    
</main>
