@import "../../../styles.scss";

section {
    border-radius: 50px;
    background-color: $white;

    h3 {
        background-color: $black;
        color: $white;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
        border: 1px solid $white;
    }
}