<footer class="row mx-0 align-items-center py-3 mt-3 background-general">
    <ul class="row m-0 d-flex align-items-center">
        <ol class="col-12 col-md-4 text-center">
            <span class="pointer text" (click)="onNavigateTo('about')">{{ 'footer.about' | translate }}</span>
        </ol>
        <ol class="col-12 col-md-4 text-center">
            <span class="pointer text" (click)="onNavigateTo('author')">{{ 'footer.author' | translate }}</span>
        </ol>
        <ol class="col-12 col-md-4 text-center text">© {{ 'footer.copyRight' | translate }} 2023</ol>
    </ul>
</footer>
