@import "../styles.scss";

.content-page {
    min-height: 83vh;
    @media (min-width: $min-width-tablet) {
        min-height: 88vh;
    }
    @media (min-width: $min-width-desktop) {
        min-height: 90vh;
    }
}