<div class="w-100 row flex-column align-items-center card mx-0 px-0 py-3 py-md-4">
    <img *ngIf="characterInfo?.images[0]" [src]="characterInfo?.images[0]" class="col-8 mb-2 mb-md-3 px-0 border-success">
    <h3 *ngIf="characterInfo?.name" class="text-center bold">{{ characterInfo?.name }}</h3>
    <section class="row justify-content-center">
        <app-button 
            class="col-7 col-md-8 col-xl-7"
            [buttonLabel]="'charactersPage.detail' | translate"
            [buttonClass]="'success'"
            (onClicked)="buttonClicked()">
        </app-button>
    </section>
</div>
