@import "../../../styles.scss";

app-alert {
    img {
        border: 3px solid;
        height: 250px;
        object-fit: cover;
        @media (max-width: $min-width-tablet) {
            max-width: 45vw;
        }
    }
    button {
        i {
            font-size: 18px;
            @media (min-width: $min-width-tablet) {
                font-size: 25px;
            }
        }
    }
}