<main class="container mx-auto content-page-container">

    <div class="cv-container p-4">

        <section class="d-flex flex-column justify-content-center align-items-center mb-4">
            <img src="../../../assets/images/author.jpeg" alt="Jorge Leonardo Chaparro Sarmiente pic" class="mb-3">
            <h4 class="bold m-0 text-center">Jorge Leonardo Chaparro Sarmiento</h4>
            <p class="d-flex m-0">
                <span class="d-none d-md-block">{{ 'aboutMe.mainInfo.birthDate' | translate }}: </span>
                <span>{{ 'aboutMe.mainInfo.birthDateValue' | translate }}</span>
            </p>
            <p class="d-flex m-0">
                <span class="d-none d-md-block">{{ 'aboutMe.mainInfo.phoneNumber' | translate }}: </span>
                <span>(+57) 3214876038</span>
            </p>
            <p class="d-flex m-0">
                <span class="d-none d-md-block">E-mail: </span>
                <span>jorgechaparrosarmiento@gmail.com</span>
            </p>
            <span>Bogotá, Colombia</span>
            <a href="https://www.linkedin.com/in/jorge-chaparro-sarmiento-345959160/" target="_blank">{{ 'aboutMe.mainInfo.linkedIn' | translate }}</a>
        </section>
    
        <section class="row mb-3">
            <h4 class="section-title p-3 text-center col-12">{{ 'aboutMe.profile.title' | translate }}</h4>
            <aside class="d-none d-md-flex col-md-3 dates-container flex-column align-items-center justify-content-center">
                <h6>{{ 'aboutMe.languages.title' | translate }}</h6>
                <span>{{ 'aboutMe.languages.english' | translate }}: {{ 'aboutMe.languages.englishLevel' | translate }}</span>
                <span>{{ 'aboutMe.languages.spanish' | translate }}: {{ 'aboutMe.languages.spanishLevel' | translate }}</span>
            </aside>
            <aside class="col-12 col-md-9 p-3">
                <p>{{ 'aboutMe.profile.first' | translate }}</p>
                <p>{{ 'aboutMe.profile.second' | translate }}</p>
                <p>{{ 'aboutMe.profile.third' | translate }}</p>
                <p>{{ 'aboutMe.profile.fourth' | translate }}</p>
            </aside>
        </section>
    
        <section class="row mb-3">
            <h4 class="section-title p-3 text-center col-12">{{ 'aboutMe.experience.title' | translate }}</h4>
            
            <aside class="d-none d-md-flex col-md-3 dates-container-top flex-column align-items-center justify-content-center p-3">
                <span>{{ 'aboutMe.experience.accenture.dateInit' | translate }} -</span>
                <span>{{ 'aboutMe.experience.accenture.dateEnd' | translate }}</span>
            </aside>
            <aside class="col-12 col-md-9 p-3">
                <h6>{{ 'aboutMe.experience.accenture.jobTitle' | translate }}:</h6>
                <p class="d-md-none">
                    <i>{{ 'aboutMe.experience.accenture.dateInit' | translate }} - {{ 'aboutMe.experience.accenture.dateEnd' | translate }}</i>
                </p>
                <p>{{ 'aboutMe.experience.accenture.description' | translate }}:</p>
                <ul>
                    <li>{{ 'aboutMe.experience.accenture.task1' | translate }}</li>
                    <li>{{ 'aboutMe.experience.accenture.task2' | translate }}</li>
                    <li>{{ 'aboutMe.experience.accenture.task3' | translate }}</li>
                    <li>{{ 'aboutMe.experience.accenture.task4' | translate }}</li>
                    <li>{{ 'aboutMe.experience.accenture.task5' | translate }}</li>
                </ul>
            </aside>

            <aside class="d-none d-md-flex col-md-3 dates-container-center flex-column align-items-center justify-content-center p-3">
                <span>{{ 'aboutMe.experience.teleperformance.dateInit' | translate }} -</span>
                <span>{{ 'aboutMe.experience.teleperformance.dateEnd' | translate }}</span>
            </aside>
            <aside class="col-12 col-md-9 p-3">
                <h6>{{ 'aboutMe.experience.teleperformance.jobTitle' | translate }}:</h6>
                <p class="d-md-none">
                    <i>{{ 'aboutMe.experience.teleperformance.dateInit' | translate }} - {{ 'aboutMe.experience.teleperformance.dateEnd' | translate }}</i>
                </p>
                <p>{{ 'aboutMe.experience.teleperformance.description' | translate }}</p>
            </aside>

            <aside class="d-none d-md-flex col-md-3 dates-container-bottom flex-column align-items-center justify-content-center p-3">
                <span>{{ 'aboutMe.experience.ibm.dateInit' | translate }} -</span>
                <span>{{ 'aboutMe.experience.ibm.dateEnd' | translate }}</span>
            </aside>
            <aside class="col-12 col-md-9 p-3">
                <h6>{{ 'aboutMe.experience.accenture.jobTitle' | translate }}:</h6>
                <p class="d-md-none">
                    <i>{{ 'aboutMe.experience.ibm.dateInit' | translate }} - {{ 'aboutMe.experience.ibm.dateEnd' | translate }}</i>
                </p>
                <p>{{ 'aboutMe.experience.accenture.description' | translate }}:</p>
                <ul>
                    <li>{{ 'aboutMe.experience.ibm.task1' | translate }}</li>
                    <li>{{ 'aboutMe.experience.ibm.task2' | translate }}</li>
                </ul>
            </aside>

        </section>

        <section class="row mb-3">
            <h4 class="section-title p-3 text-center col-12">{{ 'aboutMe.education.title' | translate }}</h4>
            
            <aside class="d-none d-md-flex col-md-3 dates-container-top flex-column align-items-center justify-content-center p-3">
                <span>2015 - 2020</span>
            </aside>
            <aside class="col-12 col-md-9 p-3">
                <p class="m-0 bold">{{ 'aboutMe.education.santoTomas.programTitle' | translate }}</p>
                <p class="m-0">{{ 'aboutMe.education.santoTomas.institution' | translate }}</p>
                <p class="d-md-none m-0">
                    <i>2015 - 2020</i>
                </p>
                <p class="m-0">{{ 'aboutMe.education.santoTomas.description' | translate }}</p>
            </aside>

            <aside class="d-none d-md-flex col-md-3 dates-container-bottom flex-column align-items-center justify-content-center p-3">
                <span>2017 - 1</span>
            </aside>
            <aside class="col-12 col-md-9 p-3">
                <p class="m-0 bold">{{ 'aboutMe.education.uabc.programTitle' | translate }}</p>
                <p class="m-0">{{ 'aboutMe.education.uabc.institution' | translate }}</p>
                <p class="d-md-none m-0">
                    <i>2017 - 1</i>
                </p>
                <p class="m-0">{{ 'aboutMe.education.uabc.description' | translate }}</p>
            </aside>

        </section>

        <section class="row mb-3">
            <h4 class="section-title p-3 text-center col-12">{{ 'aboutMe.complementaryEducation.title' | translate }}</h4>
            
            <aside class="d-none d-md-flex col-md-3 dates-container-top flex-column align-items-center justify-content-center p-3">
                <span>{{ 'aboutMe.complementaryEducation.aws.date' | translate }}</span>
            </aside>
            <aside class="col-12 col-md-9 p-3">
                <p class="m-0">
                    <span class="bold">{{ 'aboutMe.complementaryEducation.aws.title' | translate }}: </span>
                    <span>{{ 'aboutMe.complementaryEducation.aws.description' | translate }} </span>
                    <span class="d-md-none">
                        <i>{{ 'aboutMe.complementaryEducation.aws.date' | translate }}</i>
                    </span>
                </p>
            </aside>

            <aside class="d-none d-md-flex col-md-3 dates-container-center flex-column align-items-center justify-content-center p-3">
                <span>{{ 'aboutMe.complementaryEducation.devops.date' | translate }}</span>
            </aside>
            <aside class="col-12 col-md-9 p-3">
                <p class="m-0">
                    <span class="bold">{{ 'aboutMe.complementaryEducation.devops.title' | translate }}: </span>
                    <span>{{ 'aboutMe.complementaryEducation.devops.description' | translate }} </span>
                    <span class="d-md-none">
                        <i>{{ 'aboutMe.complementaryEducation.devops.date' | translate }}</i>
                    </span>
                </p>
            </aside>

            <aside class="d-none d-md-flex col-md-3 dates-container-center flex-column align-items-center justify-content-center p-3">
                <span>{{ 'aboutMe.complementaryEducation.nextU.date' | translate }}</span>
            </aside>
            <aside class="col-12 col-md-9 p-3">
                <p class="m-0">
                    <span class="bold">{{ 'aboutMe.complementaryEducation.nextU.title' | translate }}: </span>
                    <span>{{ 'aboutMe.complementaryEducation.nextU.description' | translate }} </span>
                    <span class="d-md-none">
                        <i>{{ 'aboutMe.complementaryEducation.nextU.date' | translate }}</i>
                    </span>
                </p>
            </aside>

            <aside class="d-none d-md-flex col-md-3 dates-container-center flex-column align-items-center justify-content-center p-3">
                <span>{{ 'aboutMe.complementaryEducation.misionTIC.date' | translate }}</span>
            </aside>
            <aside class="col-12 col-md-9 p-3">
                <p class="m-0">
                    <span class="bold">{{ 'aboutMe.complementaryEducation.misionTIC.title' | translate }}: </span>
                    <span>{{ 'aboutMe.complementaryEducation.misionTIC.description' | translate }} </span>
                    <span class="d-md-none">
                        <i>{{ 'aboutMe.complementaryEducation.misionTIC.date' | translate }}</i>
                    </span>
                </p>
            </aside>

            <aside class="d-none d-md-flex col-md-3 dates-container-center flex-column align-items-center justify-content-center p-3">
                <span>{{ 'aboutMe.complementaryEducation.watson.date' | translate }}</span>
            </aside>
            <aside class="col-12 col-md-9 p-3">
                <p class="m-0">
                    <span class="bold">{{ 'aboutMe.complementaryEducation.watson.title' | translate }}: </span>
                    <span>{{ 'aboutMe.complementaryEducation.watson.description' | translate }} </span>
                    <span class="d-md-none">
                        <i>{{ 'aboutMe.complementaryEducation.watson.date' | translate }}</i>
                    </span>
                </p>
            </aside>

            <aside class="d-none d-md-flex col-md-3 dates-container-bottom flex-column align-items-center justify-content-center p-3">
                <span>{{ 'aboutMe.complementaryEducation.sakura.date' | translate }}</span>
            </aside>
            <aside class="col-12 col-md-9 p-3">
                <p class="m-0">
                    <span class="bold">{{ 'aboutMe.complementaryEducation.sakura.title' | translate }}: </span>
                    <span>{{ 'aboutMe.complementaryEducation.sakura.description' | translate }} </span>
                    <span class="d-md-none">
                        <i>{{ 'aboutMe.complementaryEducation.sakura.date' | translate }}</i>
                    </span>
                </p>
            </aside>

        </section>

        <section class="row mb-3">
            <h4 class="section-title p-3 text-center col-12">{{ 'aboutMe.techSkills.title' | translate }}</h4>
            
            <article>
                <ul>
                    <li>
                        <span class="bold" style="word-break: break-all;">{{ 'aboutMe.techSkills.technologies.title' | translate }}: </span>
                        <span>{{ 'aboutMe.techSkills.technologies.description' | translate }}</span>
                    </li>
                    <li>
                        <span class="bold">{{ 'aboutMe.techSkills.programmingLanguages.title' | translate }}: </span>
                        <span>{{ 'aboutMe.techSkills.programmingLanguages.description' | translate }}</span>
                    </li>
                    <li>
                        <span class="bold">{{ 'aboutMe.techSkills.platforms.title' | translate }}: </span>
                        <span>{{ 'aboutMe.techSkills.platforms.description' | translate }}</span>
                    </li>
                    <li>
                        <span class="bold">{{ 'aboutMe.techSkills.devices.title' | translate }}: </span>
                        <span>{{ 'aboutMe.techSkills.devices.description' | translate }}</span>
                    </li>
                </ul>
            </article>

        </section>

    </div>

</main>
