<div class="d-flex justify-content-center align-items-center content-page-container">
    <section class="container row mx-auto">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
            <app-card-main-page 
                [cardImageUrl]="'https://qph.cf2.quoracdn.net/main-qimg-c9489a8c8ac8fb654deb3d495910200c-lq'"
                [cardFor]="'clans'"
                [cardTile]="'mainPage.clansCard.title' | translate"
                cardDescription="¡{{ 'mainPage.clansCard.description' | translate }}!"
                (onGoToPage)="goToPage($event)">
            </app-card-main-page>
        </div>
        <div class="col-12 col-md-6">
            <app-card-main-page 
                [cardImageUrl]="'https://wallpapers.com/images/featured/peo1d7c1aqugno3e.jpg'"
                [cardFor]="'characters'"
                [cardTile]="'mainPage.charactersCard.title' | translate"
                cardDescription="¡{{ 'mainPage.charactersCard.description' | translate }}!"
                (onGoToPage)="goToPage($event)">
            </app-card-main-page>
        </div>
    </section>
</div>
